import React, { SFC } from 'react';

interface Props {}

const {{ properCase name }}: SFC<Props> = () => {
  return (
    <div style={ { border: '1px dashed red' } }>
      edit me!
    </div>
  );
}

export default {{ properCase name }};
